@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@200;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.lit-background {
  position: relative;
  background-color: #fcd64ab2; /* Replace 'lit-bulb-background.jpg' with your actual image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.svg-container {
  position: relative;
  z-index: 1;
}
